<!-- Navigation -->
<html>
  <head>
    <title>Client app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- <link rel="text/javascript" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> -->
    <!-- <link rel="stylesheet" href="/static/css/main.css" -->
  </head>
<nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow">
  <div class="container">
    <a class="navbar-brand" href="/">Back to Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/travel">Travel</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="/weather">Weather
                <span class="sr-only">(current)</span>
              </a>
        </li>

        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
</html>
<!-- Page Content -->
<html>
<!-- <head>
  <title>Flask app</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head> -->
<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <div style="display: flex; justify-content: left;">
      <img src="../static/images/source.gif" class="center" width="20%" height="20%">
      </div>
      <h1 align ="right" class="font-weight-light">Weather Comparison!<br><br></h2>
      <h3 align ="right" class="font-weight-light">Current temperature in {{place}} is {{temp}} Celcius degrees<br></h3>
      <h3 align ="right" class="font-weight-light">Current temperature in Leeds is {{temp_uk}} Celcius degrees<br></h3>
      <h4 align ="right" class="font-weight-light" align = "right" class="lead"><br>I don't think you need more reason :)<br>Go book your tickets now on  <a href="https://www.skyscanner.net/">Skyscanner</a> :)</h4>

      <div style="height: 700px"></div>
    </html>
    </div>
  </div>
</div>
</html>
